.types{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20vw;
    height: 22vw;
    margin: 5vh 0;
    /* filter: brightness(60%); */
}

.types__image{
    position: absolute;
    filter: brightness(60%);
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /* opacity: 0.8; */
    cursor: pointer;
}

.types__image_hover{
    filter: brightness(100%);
}


.types__name{
    position: absolute;
    color: white;
    top: 40%;
    margin: 0 2vw;
    z-index:1;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
.types{
    width: 28vw;
    scroll-snap-align: start;
    height: 34vw;
    cursor:'pointer';
    margin: 0;
}

.types__image{
    position: none;
    width: 100%;
    object-fit:cover;
    user-select: none;
    height: 100%;
}    
}
/* @media screen and (max-width: 768px) {
    .types{
     height: 50vh
    }
} */

@media screen and (max-width: 480px) {
    .types{
    padding: 0;
    height: 100%;
    width: 70vw;
    margin-right: 30px;
    font-size: 24px;
    }

    .types__image{
    position: relative;
    width: 70vw;
    height: 80vw;
    }   
}