.metals{
    width:90%;
    padding: 25px 5% 70px;
    background-color: #001F3D;
}

.metals__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.metals__container{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    /* height: 100%; */
}

.metals__title{
    text-align: start;
    color: white;
    line-height: 54px;
    font-size: 44px;
    /* border-bottom: 4px white solid; */
    margin: 0 0 3%;
}

.metals__description{
    color: white;
    text-align: start;
    width: 90%;
}

/* .metals__graphics{
    border: 2px solid white;
    width: 22.5vw;
    height: 45vw;
    margin: auto 0;
} */

.metals__graphics{
    background-color: #fff;
}

.metals__paragraph{
    margin-bottom: 40px;
}

.metals__link-insights{
    text-decoration: none;
    text-align: start;
    /* margin-top: 100px; */
}

.metals__array-container{

}

.metals__subtitle{
    position: relative;
    text-decoration: none;
    background-color: #001F3D;
    color: white;
    border: none;
    /* width: 100%; */
    text-align: start;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    line-height: 30px ;
    text-decoration: 1.5px white underline;
    /* text-decoration-style: dotted; */
    /* text-decoration-line: ; */
    /* content: "\1F86D"; */
    /* margin: 50px auto; */
    /* text-decoration: underline; */   
}

.metals__subtitle:hover{
    color: #646060; 
    text-decoration: 1.5px #646060 underline;
}

/* .metals__array:after {
    position: absolute;
    content: " ";
    height: 7px;
    width: 7px;
    border: 3px solid white; */
    /* background-color: #001F3D; */
    /* border-right-width: 0px;
    border-bottom-width: 0px;
    bottom: 40%;
    right: -3%;
    transform: rotate(90deg);
    z-index: 2;
  } */

  /* .metals__array:before{
    position: absolute;
    content: " ";
    height: 14px;
    width: 14px;
    border: 3px solid white;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    bottom: 10%;
    right: -4.5%;
    transform: rotate(222deg);
    z-index: 2;
  } */

.metals__paragraph{
    font-size: 18px;
    display: list-item;
    list-style-type: square;
    list-style-position: outside;
}

.metals__btbtitle:hover {
    color: #646060;
}
/* .metals__subtitle:after{
    content: "\1F86D";
} */

/* @media screen and (max-width: 1350px) {
    .metals__subtitle{
        width: 70%;
    }

    .metals__array:after {
        bottom: 20%;
        left: 35%;
      }
    
      .metals__array:before{
        bottom: 5%;
        left: 35%;
      }
    } */

/* @media screen and (max-width: 1350px) {
        .metals__array:after {
            bottom: 20%;
            left: 35%;
          }
        
          .metals__array:before{
            bottom: 5%;
            left: 35%;
          }
        }
     */

@media screen and (max-width: 900px) {
    .metals__info{
        flex-direction: column;
        justify-content: space-between;
    }
    .metals__description{
        width:90%;
        padding: 0 5%;
    }

    .metals__container{
        width: 100%;   
        margin-bottom: 50px;
    }
    
    .metals__subtitle{
        font-size: 20px;
        padding-left: 5%;
        text-align: start;
    }
}
@media screen and (max-width: 600px) {
    .metals__link-insights{
        text-align: center;
    }

    .metals__subtitle{
        font-size: 20px;
        padding-left: 0;
        text-align: center;
    }
}
@media screen and (max-width: 450px) {
    .metals__title{
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }

    .metals__subtitle{
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
    }

    .metals__paragraph{
        font-size: 16px;
    }
}