.team{
    height: 90vh;
    width: 72%;
    margin: 5% auto; 
}

.team__title{
    width: 50%;
    text-align: start;
    /* border-bottom: 4px solid #001F3D; */
    margin-bottom: 8vh;
    color: #001F3D;
    line-height: 54px;
    font-size: 44px;
}

.team__container{
    margin: 0 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team__card{
    max-width: 16vw;
    padding-bottom: 4vh;
    border-bottom: 4px solid #001F3D;
}

.team__photo{
    height: 44vh;
    width: 16vw;
    object-fit: cover;
}

.team__name{
    color: #001F3D;
    width: 100%;
    font-size: 18px;
}

.team__description{
    word-wrap:break-word;
    color: #001F3D;
}

@media screen and (max-width: 768px) {
    .team{
        height: 90vh;
        width: 90%;
        margin: 5% auto; 
    }
    
    .team__title{
        width: 80%;
    }

    .team__container {
        margin: 0;
        gap: 30px;
    }
    
    .team__container::-webkit-scrollbar{
        width:0;
    }

    .team__card{
        max-width: 25vw;
        padding-bottom: 4vh;
        border-bottom: 4px solid #001F3D;
        scroll-snap-align: start;
        pointer-events: none;
    }

    .team__photo{
        width: 25vw;
        height: 40vh;
        width:100%;
        object-fit:cover;
        user-select: none;
        pointer-events: none;
    }    
}

@media screen and (max-width: 430px) {
    .team{
        height: 100vh;
    }
    .team__title{
        width: 100%;
        font-size: 36px;
        line-height: 40px;
    }

    .team__container {
        margin: 0;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -ms-verrflow-style: none;
        overflow: - moz-scrollbars-none;
        box-shadow: 0px 0px 80px #f3c9ff2e;
        scrollbar-width: none; 
        -ms-overflow-style: none; 
    }
    
    .team__card{
        max-width: 70vw;
    }

    .team__photo{
        height: 50vh;
    }   
}