.offer__topic{
    /* position: fixed; */
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background-color: #001F3D;
    height: 30vh;
    text-align: start;
    z-index: 1;
}


.offer__title{
    color: white;
    width: 70%;
    margin-left: 5vw;
    margin-bottom: 5vh;
    line-height: 38px;
    font-size: 30px;
}

.offer__container{
    position: relative;
    top: 0;
    height: 180vh;
    z-index: 0;
    margin-bottom: 250px;
}

.offer__card{
    height: 40vh;
    margin: 10vh 20vw;
    border-bottom: 4px solid #001F3D;
    position: sticky;
    /* We should specify a point when a card should be sticky */
    top: 20vh;
    /* transform-origin: center top; */
    background-color: #fff;
}
.offer__card-image{
    height: 20vh;
    width: 100%;
    background-image: url(../../images/offer_copper.jpg);
    background-size:cover;
}
.offer__card-title{
    text-align: start;
    color:#001F3D;
    background-color: #fff;
}

.offer__card-description{
    text-align: start;
    color:#001F3D;
    background-color: #fff;
}

@media screen and (max-width: 450px) {
    .offer{
        height: 350vh;
    }
    .offer__card{
        min-height: 70vh;
        font-size: 20px;
        margin: 5vh 10vw 10vh
    }
    .offer__card-title{
        font-size: 20px;
    }

    .offer__card-description{
        font-size: 16px;
    }

    .offer__container{
        height: 320vh;
    }
}