.president{
    height: 60vh;
    margin: 6vh 12vw;
}

.president__title{
    color: #001F3D;
    text-align: start;
    width: 50%;
    border-bottom: #001F3D 4px solid;
}

.president__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #001F3D;
    margin:0 auto;
}

.president__photo{
    object-fit: cover;
    max-width: 20vw;
    max-height: 100%;
}

.president__description{
    height: 40vh;
    margin-left: 10vw;
    text-align: start;
}
