.insights__topic{
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background-color: #001F3D;
    height: 30vh;
    text-align: start;
    margin-bottom: 5vh;
}

.insights__title{
    color: white;
    width: 60%;
    margin: 0 0 0 5vw;
    padding:0;
    line-height: 44px;
    font-size: 38px;
}

.insights__subtitle{
    color: white;
    width: 60%;
    margin-left: 5vw;
    margin-bottom: 5vh;
    font-weight: normal;
    font-size: 18px;
}

.insights__container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-height: 100%;
    /* margin-bottom: 100px; */
}

.insights__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    background-color: #fff;
    /* width: 60%; */
    margin: 0 0 5vh 5vw;
}

.insights__button{
    border: none;
    cursor: pointer;
    background-color: white;
    font-family: inherit;
    font-weight: bold;
    border-radius: 30px;
    font-size: 14px;
    width: 9vw;
    height: 4vh;
    margin-bottom: 10vh;
}

.insights_button_inactive{
    font-weight: bold;
    color: #001F3D;
    border:#001F3D 2px solid;
}

.insights__button_active{
    background-color: #646060;
    color: white;
}

.insights__map{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.insights__more-button{
    border: none;
    cursor: pointer;
    background-color: white;
    font-family: inherit;
    border-radius: 30px;
    font-size: 14px;
    width: 9vw;
    height: 4vh;
    margin-bottom: 10vh;
    font-weight: bold;
    color: #001F3D;
    border:#001F3D 2px solid;
}

.insights__more-button:hover{
    border: none;
    font-weight: bold;
    background-color: #646060;
    color: white;
}

@media screen and (max-width: 1024px) {
    .insights__map{
        width: 100%;
        justify-content: space-between;
    }

    .insights__buttons{
        width: 45%;
    }
    
    .insights__button{
        margin-bottom: 0;
        border-radius: 30px;
        font-size: 14px;
        width: 12vw;
        height: 4vh;
    }
    
    .insights__title{
        /* width: 80%; */
        width: 90%;
        margin: 0 auto 4vh;
    }

    .insights__container {
        /* height: 100%; */
        /* justify-content: space; */
        padding: 5% 0%;
        padding-top: 0;
        margin: 0 5%;
        min-height: 0%;
    }
    .insights__more-button{
        width: 12vw;
    }
}

@media screen and (max-width: 768px) {
    /* .insights{
        height: 200vh;
    } */
    .insights__more-button{
        width: 20vw;   
    }

    .insights__topic{
        justify-content: center;
        padding-left: 5%;
        padding-top: 65px;
        height: 195px;
    }

    .insights__title{
        margin: 0;
        width: 80%;
    }
    .insights__subtitle{
        margin: 12px 0 0;  
    }

    .insights__buttons{
        width: 60%;
        margin-left: 0;
    }
    .insights__button{
        width: 16vw;
        height:100%;
    }
}

@media screen and (max-width: 650px) {
    .insights__topic{
        justify-content: center;
        align-items: center;
        padding-left: 0;
        height: 100%;
    }

    .insights__title{
        width: 90%;
        margin: 20px auto 0;
        font-size: 2em;
        text-align: center;
    }

    .insights__subtitle{
        width: 90%;
        margin: 12px auto 20px;  
        font-size: 1.5em;
        text-align: center;
    }

    .insights__map{
        margin: 0 auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .insights__buttons{
        width: 100%;
        margin-left: 0;
    }
    .insights__button{
        width: 25vw;
        /* height: 100%; */
        font-size: 14px;
    }

    .insights__more-button{
        width: 40vw;
        height: 40px;
    }
}

@media screen and (max-width: 320px) {
    /* .insights__map{
        margin: 0 auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    } */
    .insights__button{
        width: 28vw;
    }
}