.warehouse{
    /* margin-top: 5vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
    margin-top: 20px;
    /* width: 90%; */
}

.warehouse__title{
    margin-top: 30px;
    text-align: start;
    color: #001F3D;
    width: 90%;
    margin: 0 auto;
 }
 
 .warehouse__description{
    text-align: start;
    color: #001F3D;
    width: 90%;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 20px;
 }

 .warehouse__photo{
    background-image: url(../../images/offer_copper.jpg);
    width: 80%;
    margin: 0 auto;
    height: 40vw;
    margin-bottom: 100px;
 }

 @media screen and (max-width: 768px) {
   .warehouse{
       height: 100%;
       margin-bottom: 50px;
   }
   .warehouse__photo{
      height: 30vw;
   }
}

@media screen and (max-width: 450px) {
}