.warehouse{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
    /* width: 90%; */
}

.warehouse__title{
    margin-top: 30px;
    text-align: start;
    color: #001F3D;
    width: 90%;
    margin: 0 auto;
 }
 
 .warehouse__description{
    text-align: start;
    color: #001F3D;
    width: 90%;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 20px;
 }

 .warehouse__photo{
    background-image: url(../../images/offer_copper.jpg);
    width: 80%;
    margin: 0 auto;
    height: 40vh;
 }