.solution{
    height: 90vh;
    width:90%;
    margin: 0 5%;
    background-color: #001F3D;
    /* padding: 4vh 8vw; */
}

.solution__title{
    text-align: start;
    color: white;
    /* border-bottom: 4px solid white ; */
    line-height: 54px;
    font-size: 44px;
    margin-left: 4%;
    white-space: pre-wrap;
    margin:0;
    padding:0;
    padding-top: 4%;
    margin-left: 9%;
    width:80%;
    /* padding-left: 9%; */
}

.solution__container{
    display: flex;
    height: 50%;
    flex-direction: row;
    justify-content: space-between;
    margin: 4% 9% 0;
}

.solution__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    margin:0;
}

.solution__item{
    font-size: 24px;
    color: white;
    text-align: start;
    /* line-height: 40px; */
    border-left: white solid 20px;
    padding-left: 2vw;
    /* text-decoration: none; */
}

.solution__graph{
    width: 50%;
    height: 100%;
    color: white;
    border: white solid 1px;
    margin-right: 0;
}

.solution__graphics{
    /* width: 100%;
    height: 100%; */
}

@media screen and (max-width: 768px) {
    .solution__title{
        /* margin-left: 0; */
        width: 95%;
        font-size: 30px;
        line-height: 42px;
        padding:0;
        margin: 0 auto;
    }
    .solution__container{
        height: 50%;
        margin: 12% 5% 0;
    }
    .solution__item{
        font-size: 18px;
        line-height: 24px;  
        border-left: white solid 10px; 
    }
}

@media screen and (max-width: 450px) {
    .solution{
        height: 90vh;
    }
    
    .solution__title{
        font-size: 24px;
        line-height: 30px;
    }

    .solution__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        margin: 5% 5% 0;
        height: 70%;
    }

    .solution__list{
        height: 35%;
        margin: 5% 0;
    }

    .solution__item{
        font-size: 16px;   
    }
    
    .solution__graph{
        width: 100%;
        /* margin-top: 20px; */
        height: 50%;
    }
}