.solution{
    /* height: 90vh; */
    width:90%;
    margin: 0 5%;
    background-color: #001F3D;
    /* padding: 4vh 8vw; */
}

.solution__title{
    text-align: start;
    color: white;
    /* border-bottom: 4px solid white ; */
    line-height: 44px;
    font-size: 38px;
    margin-left: 4%;
    white-space: pre-wrap;
    margin:0;
    padding:0;
    padding-top: 4%;
    margin-left: 9%;
    width:90%;
    /* padding-left: 9%; */
}

.solution__container{
    display: flex;
    /* height: 50%; */
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 9%;
}

.solution__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    margin:0;
}

.solution__item{
    font-size: 24px;
    color: white;
    text-align: start;
    line-height: 40px;
    border-left: white solid 20px;
    padding-left: 2vw;
    /* text-decoration: none; */
}

.solution__graph{
    width: 40vw;
    height: 25vw;
    color: white;
    border: white solid 1px;
    margin-right: 0;
    background-image: url(../../images/alchemist.jpg);
    background-size: cover;
    background-position: right 50px top -40px;
}

@media screen and (max-width: 768px) {
    .solution__title{
        /* margin-left: 0; */
        width: 95%;
        font-size: 30px;
        line-height: 42px;
        padding:0;
        margin: 0 auto;
    }

    .solution__container{
        margin: 0 5%;
        padding: 0 0 60px;
        align-items: center;
    }

    .solution__item{
        font-size: 18px;
        line-height: 24px;
        margin-top: 12px;  
        border-left: white solid 10px; 
    }
    .solution__item{
        margin-top: 50px;
    }
    .solution__graph{
        align-self: flex-end;
        width: 40vw;
        height: 30vw;
    }
}

@media screen and (max-width: 450px) {
    /* .solution{
        height: 90vh;
    } */
    
    .solution__title{
        padding-top: 20px;  
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .solution__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0;
        margin: 5% 0 0;
        height: 70%;
        padding-bottom: 0;
    }

    .solution__list{
        height: 35%;
        /* margin: 0 0; */
        margin-left: 5%;
        margin-bottom: 50px;
    }

    .solution__item{
        font-size: 16px;   
        margin-top: 8px;  
    }
    
    .solution__graph{
        width: 90vw;
        /* margin-top: 20px; */
        height: 50vw;
        background-position: right 0px top -40px;
    }
}