.nickel__topic{
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background-color: #001F3D;
    height: 30vh;
    text-align: start;
    margin-bottom: 5vh;
}

.nickel__title{
    color: white;
    width: 60%;
    margin: 0 0 0 5vw;
    padding: 5vh 0 0;
    line-height: 30px;
    font-size: 24px;
}

.nickel__subtitle{
    color: white;
    width: 60%;
    margin-left: 5vw;
    /* margin-bottom: 5vh; */
    line-height: 40px;
    margin-top: 20px;
    font-size: 38px;
}

.nickel__intro{
    margin-top: 20px;
    text-align: start;
    color: #001F3D;
    width: 90%;
    margin: 0 auto;
 }
 
 .nickel__description{
    text-align: start;
    color: #001F3D;
    width: 90%;
    margin: 0 auto;
    margin-top:10px;
 }

.nickel__options{
    display: flex;
    margin: 0 10vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}