.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 90vw;
    padding: 0 5vw;
    height: 10vh;
    z-index: 2;
}


.header__logo{
    height: 10vh;
}

.header__links-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.header__links-column{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 10vh;
    height:90vh;
    left:0;
    transform: translateY(0%);
    /* visibility: visible; */
    overflow: auto;
    z-index: 2;
    width: 100vw;
    background-color: #0000004d;
}

.header__links-column-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* padding: 22px 22px 90px; */
    background-color: white;
    width:100vw;
    /* max-width: 520px;
    width: 100%; */
    min-height: 80vh;
    padding-top: 30px;
    /* row-gap: 105px; */
}

.header__burger-menu{
    display: none;
}

.header__burger-close-button{
    display: none;
}

@media screen and (max-width: 768px) {
.header{
    height: 10svh
}

.header__logo{
    height: 10svh;
}
.header__links-row {
    display: none;
}
.header__links-column{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 10svh;
    height:90svh;
}

.header__burger-menu{
    display: block;
    border: none;
    width: 28px;
    height: 6svh;    
    background-image: url("../../images/burger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
}

.header__burger-close-button{
    display: block;
    border: none;
    width: 28px;
    height: 23px;
    background-image: url("../../images/close-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
}

.header__links-column-container{
    min-height: 80svh;
}
}
