.history{
    background-color: #001F3D;  
    height: 80vh;
    width:90%;
    margin: 0 5%;
}

.history__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: #001F3D;
    height: 40vh;
}

.history__text{
    margin-top: 4vh;
    margin-left: 4vw;
    margin-right: 0;
    width: 70%;
}

.history__title{
    width: 100%;
    line-height: 54px;
    font-size: 44px;
    color: white;
    text-align: start;
    margin-top: 0;
    /* border-bottom: white 4px solid; */
}

.history__description{
    margin-top: 5vh;
    width: 90%;
    text-align: start;
    color: white;
}

.history__photo{
    background-image: url(../../images/offer_copper.jpg);
    background-size: cover;
    width: 30%;
    height: 80vh;   
}

