.transition-graph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    max-width: 50%;
}

.transition-graph__tooltip{
    background-color: white;
    padding: 7px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    color:#001F3D;
    width: 120px;
}

.transition-graph__graphics{
    display: inline-block;
    width: 700px;
    height: 300px;
    object-fit: cover;
    font-size: 50px;
    /* margin-top: 20px; */
}

.transition-graph__title{
    color: white;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    white-space: pre-wrap;
}

.transition-graph__buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background-color: inherit;
    /* width: 60%; */
}

.transition-graph__button{
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    border-radius: 30px;
    font-size: 14px;
    margin: 15px 10px 0;
    width: 80px;
    height: 25px;
}

.transition-graph__button_inactive{
    font-weight: bold;
    color: white;
    border: white 2px solid;
    background-color: #001F3D;
}

.transition-graph__button_active{
    background-color: #646060;
    color: white;
}

.transition-graph__legends{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    width: 95%;
    padding:0;
    padding-top: 10px;
    border-top: 1px solid white;
}

.transition-graph__legend{
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    width: 30%;
}

.transition-graph__legend_n0{
    color: #679004;
}

.transition-graph__legend_ans{
    color: white;
}

.transition-graph__legend_spc{
    color:#f3ce25
}

.transition-graph__line {
    fill: none;
    /* stroke: white; */
    stroke-width: 1;
}

.transition-graph__axis{
    color: white;
    font-family: inherit;
    font-size: 14px;
}

.transition-graph__source{
    width: 700px;
    text-align: start;
    color: white;
    font-size: 12px;
    font-style: italic;
    padding-left: 50px;
}

.transition-graph__grid{
    color: white;
    font-family: inherit;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .transition-graph{
        margin-right: 0;    
    }

    .transition-graph__graphics{
        width: 500px;
        font-size: 40px;
    }
    
    .transition-graph__source{
        width: 500px;
    }

    .transition-graph__legends{
        width: 100%;
    }

}

@media screen and (max-width: 1000px) {
    .transition-graph__graphics{
        width: 500px;
        height: 300px;
    }

    .transition-graph{
        /* border-top: 1px solid white; */
        /* padding-top: 20px; */
        margin-right: 0;
        max-width: 100%;
        font-size: 30px;
        max-width: 100%;
    }

    .transition-graph__buttons{
        justify-content: flex-start;
        width: 80%;
    }

    .transition-graph__button{
        margin: 15px 15px 15px 0;
    }

    .transition-graph__legends{
        padding: 0;
        padding-top: 20px;
        margin: 0 auto;
    }

    .transition-graph__source{
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .transition-graph__graphics{
        width: 700px;
        height: 300px;
    }
    .transition-graph__buttons{
        width: 100%;
    }

    .transition-graph__source{
        width: 700px;
    }
}

@media screen and (max-width: 750px) {
    .transition-graph__graphics{
        width: 500px;
        height: 300px;
    }
    
    .transition-graph__source{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .transition-graph__graphics{
        width: 400px;
    }
}

@media screen and (max-width: 420px) {
    .transition-graph__graphics{
        width: 350px;
    }
    .transition-graph__buttons{
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .transition-graph__graphics{
        width: 300px;
    }
}