.menu {
    display: none;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000004d;
    transform: translateY(-120%);
    visibility: hidden;
    transition: all 0.5s;
}

.menu_active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    transform: translateY(0%);
    visibility: visible;
    overflow: auto;
    z-index: 2;
}

.menu__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* padding: 22px 22px 90px; */
    background-color: #FAFAFA;
    max-width: 520px;
    width: 100%;
    margin-bottom: auto;
    min-height: 100vh;
    row-gap: 105px;
}

.menu__close-button {
    width: 30px;
    height: 30px;
    /* background-image: url("../../images/icons/close-button-icon.svg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-self: flex-end;
}

.menu__nav {
    margin-bottom: auto;
}

.menu__nav-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* row-gap: 20px; */
    list-style-type: none;
}

.menu__nav-link {
    font-size: 18px;
    font-weight: 500;
    padding: 4px 0;
    color: #001F3D;
    text-decoration: none;
}

.menu__nav-link_active {
    position: relative;
    border-bottom: 3px solid #001F3D;
}

.menu__nav-link_active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #000000;
}

@media screen and (max-width: 768px) {
    .menu__wrapper {
        padding: 0 calc(14px + (22 - 14) * ((100vw - 320px) / (768 - 320)));
        padding-top: calc(14px + (22 - 14) * ((100vw - 320px) / (768 - 320)));
        padding-bottom: calc(50px + (90 - 50) * ((100vw - 320px) / (768 - 320)));
        row-gap: calc(97px + (105 - 97) * ((100vw - 320px) / (768 - 320)));
    }

    .menu__nav-list {
        row-gap: calc(14px + (20 - 14) * ((100vw - 320px) / (768 - 320)));
    }

    .menu__nav-link {
        padding: calc(5px + (4 - 5) * ((100vw - 320px) / (768 - 320))) 0;
    }
}
