.partners{
    height: 50vh;
    width: 90%;
    padding: 0 5%;
    background-color: #001F3D;
}

.partners__title{
    padding: 0 5%;
    color: white;
    text-align: start;
    width: 50%;
    line-height: 54px;
    font-size: 44px;
    /* border-bottom: 4px white solid; */
}

.partners__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 5% 0;
}

.partners__logo{
    background-color: white;
    width: 5vw;
    height: 10vh;
}

.partners__name{
    color: white;
}
