.contact{
    height: 100vh
}

.contact__topic{
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background-color: #001F3D;
    height: 30vh;
    text-align: start;
}


.contact__title{
    color: white;
    width: 60%;
    margin-left: 5vw;
    margin-bottom: 8vh;
}

.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.contact__form{
    width:80%;
}

.contact__form-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 20px;
}

.contact__input{
    font-family: Montserrat;
    color: #001F3D;
    border-radius: 15px;
    border: 2px solid #001F3D;
    width: 25vw;
    height: 6vh;
}
.contact__input::placeholder {
    color: #001F3D;
    opacity: 0.6;
    font-family: Montserrat;
  }

.contact__input:focus{
    outline:none;
    border:2px solid #646060;
    box-shadow:0 0 4px #646060;
}

.contact__input-message{
    border-radius: 15px;
    border: 2px solid #001F3D;
    width: 55vw;
    height: 30vh;
}

.contact__input-message::placeholder {
    /* position: absolute; */
    color: #001F3D;
    opacity: 0.6;
    font-family: Montserrat;
    top:10px;
    left:10px;
}

.contact__text{
    color: #001F3D;
}
