.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10vh;
    min-height: 90vh;
    background-color: #001F3D;
}

.intro__title{
    margin-top: 12%;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 40px;
}

.intro__text{
    width: 50vw;
    color: white;
    justify-self: center;
    text-align: center; 
}

.intro__description{
    font-size: 24px;
    line-height: 30px;
}

.intro__button{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    margin-top: 20vh;
    width: 12vw;
    height: 6vh;
    color: #001F3D;
    cursor: pointer;
}

.intro__button:hover {
    background-color: #646060;
}

.intro__picture{
    width: 50vw;
    height: 90vh;
}

@media screen and (max-width: 768px) {
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .intro__title{
        width:100%;
        margin-top: 8%;
    }

    .intro__text{
        width:100%;
    }

    .intro__button{
        width: 25vw;
        margin-top: 8vh;
        margin-bottom: 8vh;
    }

    .intro__picture{
        width: 100vw;
        height: 100vh;
        /* margin-bottom: 8%; */
    }
}

@media screen and (max-width: 440px) {
    .intro__title{
        margin-top: 12%;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 30px;
    }
    
    .intro__button{
        width: 80vw;
        border-radius: 10px;
        margin-top: 4vh;
    }

    .intro__picture{
        width: 100vw;
        height: 50vh;
        /* margin-bottom: 8%; */
    }
}