.questions{
    height: 90vh;
    margin-top: 8vh;
    padding: 4vh 8vw;
    background-color: #001F3D;
}

.questions__title{
    color: white;
    border-bottom: 4px solid white;
    width: 50%;
    text-align: start;
    margin-bottom:30vh;
}

.questions__container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions__subtitle{
    color: white;
    width: 30vw;
    margin: 0 auto;
}

.questions__link{
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 10vw;
}

.questions__link:hover{
    color: #646060;
}