.product{
    height: 70vh;
    width: 72%;
    margin: 5% auto; 
}

.product__title{
    color: #001F3D;
    text-align: start;
    width: 100%;
    text-wrap: nowrap;
    /* border-bottom: #001F3D 4px solid; */
    line-height: 54px;
    font-size: 44px;
    text-wrap: wrap;
}

.product__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #001F3D;
}

.product__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    color: #001F3D;
}

@media screen and (max-width: 768px) {
    .product{
        height: 150vh; 
    }

    .product__container {
        flex-wrap: wrap;
    }
    .product__title{
        line-height: 44px;
        font-size: 38px;
    }

    .product__card{
        width: 30vw;
    }
    .product__image{
        height: 40vh;
    }
}

@media screen and (max-width: 430px) {
    .product{
        height: 280vh; 
    }

    .product__container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .product__title{
        line-height: 44px;
        font-size: 38px;
    }

    .product__card{
        width: 60vw;
    }
    .product__image{
        height: 40vh;
    }
}