.product{
    height: 70vh;
    width: 72%;
    margin: 5% auto; 
}

.product__title{
    color: #001F3D;
    text-align: start;
    width: 100%;
    text-wrap: nowrap;
    /* border-bottom: #001F3D 4px solid; */
    line-height: 54px;
    font-size: 44px;
}

.product__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #001F3D;
}

.product__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    color: #001F3D;
}