.insights{
    height: 70vh;
    background-color: #001F3D;
    padding: 4vh 8vw;
}

.insights__title{
    text-align: start;
    color: white;
    width: 50%;
    border-bottom: 4px white solid;
    margin-bottom: 8vh;
}

.insights__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.insights__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.insights__name{
    position: absolute;
    color: white;
    z-index: 1;
}

.insights__image{
    width: 20vw;
    height: 45vh;
    opacity: 0.5;
    cursor: pointer;
}

.insights__image:hover{
    opacity: 0.8;
}