.insights-card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20vw;
  height: 300px;
  padding-left: 5vw;
  border-left: 2px solid #646060;
  margin-bottom: 100px;
}

.insights-card__image{
  height: 120px;
  width: 90%;
}

.insights-card__title{
  text-align: start;
  color: #001F3D;
  margin-top: 10px;
  margin-bottom: 0;
}

.insights-card__date{
  text-align: start;
  color: #646060;
  margin: 0;
  font-size: 12px;
}

.insights-card__description{
  text-align: start;
  color: #001F3D;
  margin-top: 10px;
}

.insights-card__link{
  position: absolute;
  bottom: 0;
  text-decoration: underline;
  color: #001F3D;
  cursor: pointer;
  /* margin-top: 50px; */
}

.insights-card__square{
  position: absolute;
  bottom: 0;
  right: 30px;
  background-color: #646060;
  height: 20px;
  width: 20px;
}